@include scope-with("blocks/parallax-graphic.php") {
  .parallax-graphic-block {
    display: flex;
    &.center {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
    }
  }
  .images:scoped {
    position: relative;
    .floatie {
      position: absolute;
      height: auto;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .sizer {
      position: relative;
    }
  }
  .trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: calc(100% + 100vh);
  }
}
